<a class="logo" routerLink="/"> <h1 style="margin-bottom: 10px; color: #005FB2">DePaul University </h1></a>
<h4 style="margin-bottom: 10px;margin-top: 0px">College of Computing and Digital Media</h4>
<img src='assets/images/Logo_top.png' style='position:absolute; top:30px; right:30px;' width="140px" height="" alt='' />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav role="navigation1">
  <div class="navigate1">
    <ul>
      <li class="dropdown1">
        <a class="dropbtn1">Plan your degree</a>
        <div class="dropdown-content1">
          <a routerLink="/courses1">View courses</a>
          <a routerLink="/requirements1">View degree requirements</a>
          <a routerLink="/start-plan1">Start planning</a>
          <a routerLink="/degree-progress1">Degree progress plan</a>
        </div>
      </li>
      <li class="dropdown1">
        <a class="dropbtn1">Profile</a>
        <div class="dropdown-content1">
          <a routerLink="/view-profile2">View profile</a>
          <a routerLink="/edit-profile1">Edit profile</a>
        </div>
      </li>
      <li class="dropdown1">
        <a class="dropbtn1">Search</a>
        <div class="dropdown-content1">
          <a routerLink="/SearchID">Search by ID</a>
        </div>
      </li>
      <li style="float:right"><a routerLink="/logged-out">Logout</a></li>
    </ul>
  </div>
</nav>
<br>
<div class="col-md-7">
  <form novalidate [formGroup]="planForm" (ngSubmit)="submitForm(planForm)">
    <p>Select a degree program to view the requirements</p>
    <select class="form-control" id="degree_program" formControlName="degreeProgram">
      <option></option>
      <option *ngFor="let program of degreePrograms">{{program}}</option>
    </select>
    <br>
  <button type="submit" class="btn btn-primary" id="submitBTN">Submit</button>
  </form>
</div>
<br>
<div class="col-md-10">
  <table *ngIf="show" class="table table-striped">
    <th>Requirement</th>
    <th>Number of courses</th>
    <th>Courses</th>
    <tr *ngFor="let requirement of degreeRequirements">
      <td>{{requirement.reqName}}</td>
      <td>{{requirement.reqNum}}</td>
      <td>{{requirement.courses}}</td>
    </tr>
  </table>
</div>

