<a class="logo" routerLink="/"> <h1 style="margin-bottom: 10px; color: #005FB2">DePaul University </h1></a>
<h4 style="margin-bottom: 10px;margin-top: 0px">College of Computing and Digital Media</h4>
<img src='assets/images/Logo_top.png' style='position:absolute; top:30px; right:30px;' width="140px" height="" alt='' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<hr>
<br>
<div class="leftsidebar">
  <h3>Thank you for registering for an account.</h3>

  <h2>Please <a routerLink="/login">Login</a> now.</h2>

</div>
