<a class="logo" routerLink="/"> <h1 style="margin-bottom: 10px; color: #005FB2">DePaul University </h1></a>
<h4 style="margin-bottom: 10px;margin-top: 0px">College of Computing and Digital Media</h4>
<img src='assets/images/Logo_top.png' style='position:absolute; top:30px; right:30px;' width="140px" height="" alt='' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<hr>
<br>
<div class="leftsidebar">
  <h3>Please provide your email to receive a temporary password.</h3>
  <h2>Once you submit your email, <a routerLink="/login">Login</a> with your temporary password.</h2>
  <h2>Do not forgot to change your password after logging in.</h2>
      <form [formGroup]="resetpassForm" (ngSubmit)="seeValues(resetpassForm.value)">

        <div class="forms-group" style="width: 50%;margin-left: 25%;">
          <input type="text" class="form-control" id="email" placeholder="email" name="email"
                  [formControl]="resetpassForm.controls['email']">
        </div>
        <!-- Button submit is not available until the form is valid -->
        <div class="forms-group">
        <button (click)="checkForm(resetpassForm)" type="button" class="success-btn" [disabled]="!resetpassForm.valid">Submit</button>
        </div>
      </form>
</div>
