<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<title>Title</title>-->
  <!--&lt;!&ndash; Required meta tags &ndash;&gt;-->
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

  <!--&lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<div class="body"><br><br>-->
  <!--<div class="text-center">-->
    <!--<figure class="center">-->
      <!--<img src='assets/images/depaul_logo.jpg' alt="DePaul"  width="100%" height="">-->
    <!--</figure>-->
  <!--</div>-->
  <!--<br>-->
  <!--<br>-->
  <!--<div class="text-center">-->
    <!--<div class="form-group">-->
      <!--&lt;!&ndash; Form starts here &ndash;&gt;-->
      <!--<form novalidate [formGroup]="loginForm" (ngSubmit)="logIn(loginForm)">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control-sm" formControlName="userID" placeholder="Username ID"required>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<input type="password" class="form-control-sm" formControlName="password" placeholder="Password" required>-->
        <!--</div>-->
        <!--<button class="success-btn" type="submit" name="button" [disabled]="loginForm.invalid">Log In</button>-->
      <!--</form>-->
      <!--&lt;!&ndash; Form ends here &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="text-center-foot" style="padding: 10px;">-->
      <!--<div class="footer">-->
        <!--<div class="container">-->
          <!--<span class="text-muted" ><a routerLink="/registration" style="font-weight: bold;font-size: 18px;"> Create an account</a></span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;<div class="push"></div>&ndash;&gt;-->
<!--</div>-->

<!--<footer class="footer">-->
  <!--<div class="bot-footer">-->
    <!--<hr style="margin: 0px;">-->
  <!--</div>-->
  <!--<div class="color-footer"></div>-->
  <!--<div class="bottom-footer">-->
    <!--<a href="https://www.depaul.edu/Pages/disclaimer.aspx">Disclaimer </a>|-->
    <!--<a href="https://www.depaul.edu/Pages/contact-us.aspx">Contact </a>|-->
    <!--<a href="https://offices.depaul.edu/is/support/Pages/get-help.aspx">Help </a>|-->
    <!--<a href="https://resources.depaul.edu/emergency-plan/Pages/default.aspx">Emergency Plan </a>|-->
    <!--<a href="https://www.depaul.edu/Pages/consumer-info.aspx">Consumer Info </a>|-->
    <!--<a href="http://complaints.ibhe.org/">IBHE </a>|-->
    <!--<a href="https://resources.depaul.edu/privacy/Pages/default.aspx">Privacy Statement </a>|-->
    <!--<a href="https://www.depaul.edu/Pages/terms-of-use.aspx">Terms of Use </a>-->
  <!--</div>-->
<!--</footer>-->
<!--&lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->





<!doctype html>
<html lang="en">
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="body"><br><br>
  <div class="text-center">
    <figure class="center">
      <img src='assets/images/depaul_logo.jpg' alt="DePaul"  width="100%" height="">
    </figure>
  </div>
  <br>
  <br>
  <div class="text-center">
    <div class="form-group">
      <!-- Form starts here -->
      <form novalidate [formGroup]="loginForm" (ngSubmit)="logIn(loginForm)">
        <div class="form-group">
          <input type="text" class="form-control-sm" formControlName="userID" placeholder="Username ID"required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control-sm" formControlName="password" placeholder="Password" required>
        </div>
        <button class="success-btn" type="submit" name="button" [disabled]="loginForm.invalid">Log In</button>
      </form>
      <!-- Form ends here -->
    </div>
    <div class="text-center-foot" style="padding: 10px;">
      <div class="footer">
        <div class="container">
          <span class="text-muted" ><a routerLink="/registration" style="font-weight: bold;font-size: 18px;"> Create an account</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="bot-footer">
    <hr style="margin: 0px;">
  </div>
  <div class="color-footer"></div>
  <div class="bottom-footer">
    <a href="https://www.depaul.edu/Pages/disclaimer.aspx">Disclaimer </a>|
    <a href="https://www.depaul.edu/Pages/contact-us.aspx">Contact </a>|
    <a href="https://offices.depaul.edu/is/support/Pages/get-help.aspx">Help </a>|
    <a href="https://resources.depaul.edu/emergency-plan/Pages/default.aspx">Emergency Plan </a>|
    <a href="https://www.depaul.edu/Pages/consumer-info.aspx">Consumer Info </a>|
    <a href="http://complaints.ibhe.org/">IBHE </a>|
    <a href="https://resources.depaul.edu/privacy/Pages/default.aspx">Privacy Statement </a>|
    <a href="https://www.depaul.edu/Pages/terms-of-use.aspx">Terms of Use </a>
  </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
