<h1>Common Pages</h1>
<li><a routerLink="/login">Login</a></li>
<li><a routerLink="/optin">Optin</a></li>
<li><a routerLink="/registration-complete">Registration Complete</a></li>
<li><a routerLink="/logged-out">Logged Out</a></li>
<li><a routerLink="**">Not Found</a></li>
<li><a routerLink="/registration">Registration</a></li>
<li><a routerLink="/recover">Recover Password</a></li>

<h1>Student Pages</h1>
<li><a routerLink="/home">Home</a></li>
<li class="r"><a routerLink="/courses">View courses</a></li>
<li class="r"><a routerLink="/requirements">Requirements</a></li>
<li class="r"><a routerLink="/start-plan">Start Plan</a></li>
<li class="r"><a routerLink="/degree-progress">Degree Progress</a></li>
<li><a routerLink="/view-profile">View profile</a></li>
<li><a routerLink="/edit-profile">Edit profile</a></li>

<h1>Faclity Pages</h1>
<li><a routerLink="/home-faculty">Home</a></li>
<li class="r"><a routerLink="/courses1">View Courses</a></li>
<li class="r"><a routerLink="/requirements1">Requirements</a></li>
<li class="r"><a routerLink="/start-plan1">Start Plan</a></li>
<li class="r"><a routerLink="/degree-progress1">Degree Progress</a></li>
<li><a routerLink="/view-profile2">View profile</a></li>
<li><a routerLink="/edit-profile1">Edit Profile</a></li>
<li class="r"><a routerLink="/SearchID">SearchID</a></li>

<h1>Admin Pages</h1>
<li><a routerLink="/home3">Home</a></li>
<li class="r"><a routerLink="/courses3">View Courses</a></li>
<li class="r"><a routerLink="/requirements3">Requirements</a></li>
<li class="r"><a routerLink="/start-plan3">Start Plan</a></li>
<li class="r"><a routerLink="/degree-progress3">Degree Progress</a></li>
<li><a routerLink="/view-profile3">View profile</a></li>
<li><a routerLink="/edit-profile3">Edit Profile</a></li>
<li class="r"><a routerLink="/SearchID3">SearchID</a></li>
<li class="r"><a routerLink="/enrollment">Enrollment</a></li>
<li><a routerLink="/classes">Classes</a></li>
<li><a routerLink="/programs">Programs</a></li>
<li><a routerLink="/list-students">Student List</a></li>
<li class="r"><a routerLink="/remove">Remove User</a></li>
<li class="r"><a routerLink="/add">Add User</a></li>
