<a class="logo" routerLink="/"> <h1 style="margin-bottom: 10px; color: #005FB2">DePaul University </h1></a>
<h4 style="margin-bottom: 10px;margin-top: 0px">College of Computing and Digital Media</h4>
<img src='assets/images/Logo_top.png' style='position:absolute; top:30px; right:30px;' width="140px" height="" alt='' />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav role="navigation1">
  <div class="navigate1">
    <ul>
      <li class="dropdown1">
        <a class="dropbtn1">Plan your degree</a>
        <div class="dropdown-content1">
          <a routerLink="/courses1">View courses</a>
          <a routerLink="/requirements1">View degree requirements</a>
          <a routerLink="/start-plan1">Start planning</a>
          <a routerLink="/degree-progress1">Degree progress plan</a>
        </div>
      </li>
      <li class="dropdown1">
        <a class="dropbtn1">Profile</a>
        <div class="dropdown-content1">
          <a routerLink="/view-profile2">View profile</a>
          <a routerLink="/edit-profile1">Edit profile</a>
        </div>
      </li>
      <li class="dropdown1">
        <a class="dropbtn1">Search</a>
        <div class="dropdown-content1">
          <a routerLink="/SearchID">Search by ID</a>
        </div>
      </li>
      <li style="float:right"><a routerLink="/logged-out">Logout</a></li>
    </ul>
  </div>
</nav>
<br>



<div class="container1">
  <h2>Edit Profile</h2>
  <hr>

  <form novalidate [formGroup]= "depaulForm2">

    <!-- First Name area   -->
    <div class="form-group">
      <input class="form-control" type="text" formControlName="firstName" placeholder="First Name">
    </div>

    <!-- Error for First Name area -->
    <div *ngIf="depaulForm2.get('firstName').touched && depaulForm2.get('firstName').invalid" class="alert alert-danger">
      <div *ngIf="depaulForm2.get('firstName').hasError('required')">
        First name field is required.
      </div>
      <div *ngIf="depaulForm2.get('firstName').invalid && depaulForm2.get('firstName').touched">
        First name is invalid.
      </div>
    </div>

    <!-- Last Name area -->
    <div class="form-group">
      <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name">
    </div>

    <!-- Error for Last Name Area -->
    <div *ngIf="depaulForm2.get('lastName').touched && depaulForm2.get('lastName').invalid" class="alert alert-danger">
      <div *ngIf="depaulForm2.get('lastName').hasError('required')">
        Last name field is required.
      </div>
      <div *ngIf="depaulForm2.get('lastName').invalid && depaulForm2.get('lastName').touched">
        Last name is invalid.
      </div>
    </div>


    <!-- Address area -->
    <div class="form-group">
      <input class="form-control" type="text" formControlName="address" placeholder="Address">
    </div>

    <!-- Error for address -->
    <div *ngIf="depaulForm2.get('address').hasError('required') && depaulForm2.get('address').touched" class="alert alert-danger">
      Address field is required.
    </div>


    <!-- City area -->
    <div class="form-group">
      <input class="form-control" type="text" formControlName="city" placeholder="City">
    </div>

    <!-- Error for City -->
    <div *ngIf="depaulForm2.get('city').touched && depaulForm2.get('city').invalid" class="alert alert-danger">
      <div *ngIf="depaulForm2.get('city').hasError('required')">
        City field is required.
      </div>
      <div *ngIf="depaulForm2.get('city').invalid && depaulForm2.get('city').touched">
        City field is invalid.
      </div>
    </div>


    <!-- State area -->
    <div class="form-group">
      <input class="form-control" type="text" formControlName="state" placeholder="State">
    </div>

    <!-- Error for State area -->
    <div *ngIf="depaulForm2.get('state').touched && depaulForm2.get('state').invalid" class="alert alert-danger">
      <div *ngIf="depaulForm2.get('state').hasError('required')">
        State field is required.
      </div>
      <div *ngIf="depaulForm2.get('state').invalid && depaulForm2.get('state').touched">
        State field is invalid.
      </div>
    </div>



    <!-- Zip area -->
    <div class="form-group">
      <input class="form-control" type="text" formControlName="zip" placeholder="Zip">
    </div>
    <!-- Zip error area -->
    <div *ngIf="depaulForm2.get('zip').touched && depaulForm2.get('zip').invalid" class="alert alert-danger">
      Zip field is required.
    </div>


    <!-- DePaul ID area -->
    <p class="form-control-static">{{DepaulID}} </p>


    <!-- Degree area -->
    <div class="form-group">
      <input class="form-control" type="text" formControlName="degree" placeholder="Degree">
    </div>
    <!-- Degree area error -->
    <div *ngIf="depaulForm2.get('degree').touched && depaulForm2.get('degree').invalid" class="alert alert-danger">
      Degree field is required.
    </div>


    <!-- Email area -->
    <div class="form-group">
      <input class="form-control" type="email" formControlName="email" placeholder="Email">
    </div>
    <!-- Email area error -->
    <div *ngIf="depaulForm2.get('email').touched && depaulForm2.get('email').invalid" class="alert alert-danger">
      <div *ngIf="depaulForm2.get('email').hasError('required')">
        Email field is required.
      </div>
      <div *ngIf="depaulForm2.get('email').touched && depaulForm2.get('email').invalid">
        Email is invalid.
      </div>
    </div>


    <!-- UserID area -->
    <div class="form-group">
      <input class="form-control" type="text" formControlName="userID" placeholder="User ID">
    </div>
    <!-- UserID area error -->
    <div *ngIf="depaulForm2.get('userID').touched && depaulForm2.get('userID').invalid" class="alert alert-danger">
      <div *ngIf="depaulForm2.get('userID').hasError('required')">
        User ID field is required.
      </div>
      <div *ngIf="depaulForm2.get('userID').touched && depaulForm2.get('userID').touched">
        User ID is required.
      </div>
    </div>

    <!-- Password area -->
    <div class="form-group">
      <input class="form-control" type="password" formControlName="password" placeholder="Password">
    </div>

    <!-- Password area error -->
    <div *ngIf="depaulForm2.get('password').touched && depaulForm2.get('password').invalid" class="alert alert-danger">
      <div *ngIf="depaulForm2.get('password').hasError('required')">
        Password field is required.
      </div>
      <div *ngIf="depaulForm2.get('password').touched && depaulForm2.get('password').invalid">
        Password is invalid.<br>
        Your password must have:
        <ul>
          <li>8 characters in length.</li>
          <li>Lowercase letters.</li>
          <li>Uppercase letters.</li>
          <li>Numbers.</li>
          <li>Special characters.</li>
        </ul>
      </div>
    </div>

    <!-- If the form is not valid then don't submit (don't go to optmin)-->
    <button (click)="addUser(depaulForm2)" class="success-btn" type="button" name="button" [disabled]=!depaulForm2.valid>Edit</button>
    <button (click)=reset() type="reset1" class="btn btn-warning" style="background-color: #FF1111;color: white; border: none;" id="resetBTN"> Reset</button>
  </form>
</div>

<hr>
