<!doctype html>
<html lang="en">
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<h1 style="margin-bottom: 10px; color: #005FB2">DePaul University </h1>
<h4 style="margin-bottom: 10px;margin-top: 0px">College of Computing and Digital Media</h4>
<img src='assets/images/Logo_top.png' style='position:absolute; top:30px; right:30px;' width="140px" height="" alt='' />

<hr>
<br>
<h2>Registration Form</h2>
<hr class="line">
<br>


<form novalidate [formGroup]= "depaulForm2" (ngSubmit)="addUser(depaulForm2)">

  <!-- First Name area   -->
  <div class="form-group">
    <input class="form-control" type="text" formControlName="firstName" placeholder="First Name">
  </div>

  <!-- Error for First Name area -->
  <div *ngIf="depaulForm2.get('firstName').touched && depaulForm2.get('firstName').invalid" class="alert alert-danger">
    <div *ngIf="depaulForm2.get('firstName').hasError('required')">
      First name field is required.
    </div>
    <div *ngIf="depaulForm2.get('firstName').invalid && depaulForm2.get('firstName').touched">
      First name is invalid.
    </div>
  </div>

  <!-- Last Name area -->
  <div class="form-group">
    <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name">
  </div>

  <!-- Error for Last Name Area -->
  <div *ngIf="depaulForm2.get('lastName').touched && depaulForm2.get('lastName').invalid" class="alert alert-danger">
    <div *ngIf="depaulForm2.get('lastName').hasError('required')">
      Last name field is required.
    </div>
    <div *ngIf="depaulForm2.get('lastName').invalid && depaulForm2.get('lastName').touched">
      Last name is invalid.
    </div>
  </div>


  <!-- Address area -->
  <div class="form-group">
    <input class="form-control" type="text" formControlName="address" placeholder="Address">
  </div>

  <!-- Error for address -->
  <div *ngIf="depaulForm2.get('address').hasError('required') && depaulForm2.get('address').touched" class="alert alert-danger">
    Address field is required.
  </div>


  <!-- City area -->
  <div class="form-group">
    <input class="form-control" type="text" formControlName="city" placeholder="City">
  </div>

  <!-- Error for City -->
  <div *ngIf="depaulForm2.get('city').touched && depaulForm2.get('city').invalid" class="alert alert-danger">
    <div *ngIf="depaulForm2.get('city').hasError('required')">
      City field is required.
    </div>
    <div *ngIf="depaulForm2.get('city').invalid && depaulForm2.get('city').touched">
      City field is invalid.
    </div>
  </div>


  <!-- State area -->
  <div class="form-group">
    <input class="form-control" type="text" formControlName="state" placeholder="State">
  </div>

  <!-- Error for State area -->
  <div *ngIf="depaulForm2.get('state').touched && depaulForm2.get('state').invalid" class="alert alert-danger">
    <div *ngIf="depaulForm2.get('state').hasError('required')">
      State field is required.
    </div>
    <div *ngIf="depaulForm2.get('state').invalid && depaulForm2.get('state').touched">
      State field is invalid.
    </div>
  </div>



  <!-- Zip area -->
  <div class="form-group">
    <input class="form-control" type="text" formControlName="zip" placeholder="Zip">
  </div>
  <!-- Zip error area -->
  <div *ngIf="depaulForm2.get('zip').touched && depaulForm2.get('zip').invalid" class="alert alert-danger">
    Zip field is required.
  </div>


  <!-- DePaul ID area -->
  <div class="form-group">
    <input class="form-control" type="text" formControlName="depaulID" placeholder="DePaul ID">
  </div>
  <!-- DePaul ID area error -->
  <div *ngIf="depaulForm2.get('depaulID').touched && depaulForm2.get('depaulID').invalid" class="alert alert-danger">
    DePaul ID field is required.
  </div>


  <!-- Degree area -->
  <div class="form-group">
    <input class="form-control" type="text" formControlName="degree" placeholder="Degree">
  </div>
  <!-- Degree area error -->
  <div *ngIf="depaulForm2.get('degree').touched && depaulForm2.get('degree').invalid" class="alert alert-danger">
    Degree field is required.
  </div>


  <!-- Email area -->
  <div class="form-group">
    <input class="form-control" type="email" formControlName="email" placeholder="Email">
  </div>
  <!-- Email area error -->
  <div *ngIf="depaulForm2.get('email').touched && depaulForm2.get('email').invalid" class="alert alert-danger">
    <div *ngIf="depaulForm2.get('email').hasError('required')">
      Email field is required.
    </div>
    <div *ngIf="depaulForm2.get('email').touched && depaulForm2.get('email').invalid">
      Email is invalid.
    </div>
  </div>


  <!-- UserID area -->
  <div class="form-group">
    <input class="form-control" type="text" formControlName="userID" placeholder="User ID">
  </div>
  <!-- UserID area error -->
  <div *ngIf="depaulForm2.get('userID').touched && depaulForm2.get('userID').invalid" class="alert alert-danger">
    <div *ngIf="depaulForm2.get('userID').hasError('required')">
      User ID field is required.
    </div>
    <div *ngIf="depaulForm2.get('userID').touched && depaulForm2.get('userID').touched">
      User ID is required.
    </div>
  </div>

  <!-- Password area -->
  <div class="form-group">
    <input class="form-control" type="password" formControlName="password" placeholder="Password">
  </div>

  <!-- Password area error -->
  <div *ngIf="depaulForm2.get('password').touched && depaulForm2.get('password').invalid" class="alert alert-danger">
    <div *ngIf="depaulForm2.get('password').hasError('required')">
      Password field is required.
    </div>
    <div *ngIf="depaulForm2.get('password').touched && depaulForm2.get('password').invalid">
      Password is invalid.<br>
      Your password must have:
      <ul>
        <li>8 characters in length.</li>
        <li>Lowercase letters.</li>
        <li>Uppercase letters.</li>
        <li>Numbers.</li>
        <li>Special characters.</li>
      </ul>
    </div>
  </div>



  <!-- If the form is not valid then don't submit (don't go to optmin)-->
  <button class="success-btn" type="submit" name="button" [disabled]="depaulForm2.invalid">Next</button>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

