<!DOCTYPE html>
<html>
<body>

<!--Uses Kendo UI for Angular.
The thing you want to export as PDF must be within the kento tag -->
<kendo-pdf-export #pdf paperSize="A2" margin="2cm">
<div class="col-md-7">
  <form novalidate [formGroup]="planForm" (ngSubmit)="submitForm(planForm)">
    <p>What is your degree program?</p>
    <select class="form-control" id="degree_program" formControlName="degreeProgram">
      <option></option>
      <option *ngFor="let program of degreePrograms">{{program}}</option>
    </select>
    <p>In which quarter do you want to begin?</p>
    <select class="form-control" id="start_quarter" formControlName="startQuarter">
      <option></option>
      <option *ngFor="let quarter of startQuarter">{{quarter}}</option>
    </select>
    <p>How many classes do you want to take per quarter?</p>
    <select class="form-control" id="num_classes" formControlName="numClasses">
      <option></option>
      <option *ngFor="let class of numberOfClasses">{{class}}</option>
    </select>
    <br><br>
    <button type="submit" class="btn btn-primary" id="submitBTN">Submit</button>
    <button class="btn btn-primary" kendo-button (click)="pdf.saveAs('StudentPlan.pdf')"
    id="pdfBTN">Save</button>
  </form>
</div>
<div class="col-md-5">
  <table *ngIf="show" class="table table-striped">
    <th>Quarter</th>
    <th>Classes</th>
    <tr *ngFor="let quarter of degreePlanFinal">
      <td>{{quarter.acadYearString}}</td>
      <td>{{quarter.classes}}</td>
    </tr>
  </table>
</div>
</kendo-pdf-export>
</body>
</html>
